.button {
  color: rgb(28, 30, 51);
  font-size: 1em;
  border-left: solid 0.5px rgba(28, 30, 51, 0.2);
  border-right: solid 0.5px rgba(28, 30, 51, 0.2);
  padding: 0px 4px;
  margin: 8px 16px;
  border-radius: 2px;
  transition: 0.2s;
  &:hover {
    text-decoration: none;
    color: rgb(28, 30, 51);
    border-left: solid 0.5px rgba(28, 30, 51, 0.9);
    border-right: solid 0.5px rgba(28, 30, 51, 0.9);
  }
}
