.movie-card {
  width: 12%;
  margin: 8px;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: 0.3s;
  // border: solid 0.5px rgb(28, 30, 51);
  &:hover {
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.3);
  }
  .movie-image {
    width: 100%;
  }
  .movie-title {
    margin: 8px;
    color: rgb(28, 30, 51);
    font-weight: 100;
    font-size: 1.1rem;
  }
  .movie-overview {
    margin: 8px;
    padding-bottom: 16px;
    margin-bottom: 48px;
    font-weight: 100;
    font-size: 0.7rem;
    border-bottom: solid 0.5px rgb(28, 30, 51);
  }
  .movie-rating {
    margin: 8px 16px;
  }
}

.flex {
  margin: 8px 4px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: 0;
}
