// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
  height: 200px;
  background-size: cover;
  background-position: center;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-left: 32px;
  padding-top: 75px;
  margin-bottom: 64px;
  border-bottom: solid 8px rgb(39, 39, 39);
  transition: 1s;
  .header-text {
    color: white;
    font-size: 3em;
    letter-spacing: 8px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    font-weight: 100;
  }
  .header-button {
    color: white;
    font-size: 1em;
    border-left: solid 0.5px rgba(255, 255, 255, 0.4);
    border-right: solid 0.5px rgba(255, 255, 255, 0.4);
    padding: 4px;
    border-radius: 2px;
    transition: 0.3s;
    &:hover {
      text-decoration: none;
      border-left: solid 0.5px rgba(255, 255, 255, 0.9);
      border-right: solid 0.5px rgba(255, 255, 255, 0.9);
    }
  }
}

.categories-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 32px;
  row-gap: 32px;
  column-gap: 32px;
}

.section-head {
  margin: 32px;
  width: 60%;
  text-align: left;
  border-bottom: solid 1px grey;
}

.movies-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 32px;
  row-gap: 32px;
  column-gap: 32px;
  padding-bottom: 32px;
}
